.section
{
margin: 1%;
}

.contentbox
{
    height: 20%;
    
}

.contentdata
{
    padding: 0.5%;
}

.bgdata
{
    /* background-image: url('../../assests/images/body_bg.jpg'); */
    background-color: 'E8E8E8';
    
}

.fixed_ht_div
{
    min-height: 23em;
}

